### Loops in python

Now that we know python basics, we can start to build tools to do basic python tasks many lines over and over. This concept is known as Looping. There are two main types of loops, for and while loops. But before that, let’s explore a few things.

In the cell below, type print(range(10)):

In [2]:
print(range(10))

range(0, 10)

The output of the cell should look like range(0,10). This is something new to python 3, where this range function outputs a range generator. Instead of worrying about what this is, look at the code of the output below to see what actually is contained in this range generator:

In [3]:
x = range(10) # assigning the generator to a variable
print(x[0]) #now I'm printing the first index of the generator (assigned to a variable)
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])
print(x[6])
print(x[7])
print(x[8])
print(x[9])

0
1
2
3
4
5
6
7
8
9

Notice that each index refers to its number in this case. But we input 10 into the range function... so what’s going on here? In the cell below, try and find the 10th index of x:

In [6]:
x[9] 
# _n - 1

9

If you are doing this right, you will get an error. What can we conclude about the range function and how python counts?

For more on the range function, you can look at python's official documentation:https://docs.python.org/2/library/functions.html#range

This range function allows us to do some basic looping. Remember when I printed out all the indices of x ? Below is an example of a loop to do that:

In [9]:
for i in range(10): # range is the same as x, if you remember
    print (i) #everything indented is inside the loop

0
1
2
3
4
5
6
7
8
9

Notice that I start the loop with a "for" signifying a for loop, and I use the "in" word to saying I want "i" to be something "in" range(10). I end the loop statement with a colon: and then everything indented inside the loop is going to happen. Write below, in plain words, what you think is going on in the loop. Note, this might be a nebulous idea to you now, which is why its good to take a minute or two to think about it:

In [10]:
#Lets further explore the loop by writing another one:
for i in range(5): # notice the 5
    print(1+1)
print("this is out of the loop")

2
2
2
2
2
this is out of the loop

The output should show that it printed 1+1 five times. Does this help you understand what is going on in the for loop? The loop continues to do stuff until it runs out of numbers inside the range. Notice the string "this is out of the loop" was printed only once. That’s because the for loop (and the code immediately under AND indented) executes all its code, and then anything outside and below the for loop is then executed. This is something you will be more comfortable with as you use python more.

Another cool thing we can do is loop through a python string, see below:

In [11]:
for letter in "my_string":
    print(letter)

m
y
_
s
t
r
i
n
g

Now you might be thinking, ok, what are for loops good for? Well, we can combine them with conditional statements (control flow) to do more complex tasks, like sort numbers in odd or even bins, see the code below:

In [14]:
for i in range(10):
    if i%2 == 1: 
        print(i," odd")
    else:
        print(i," even")

0  even
1  odd
2  even
3  odd
4  even
5  odd
6  even
7  odd
8  even
9  odd

Remember that pesky "mod" symbol? Can you explain why i%2 == 1 always means that i is odd? Explain below, and do some calculations or talk to a neighbor if you need to: % is the remainder so the remainder of an odd number / 2 is always equal to 1. Ex: 5/2 = 2 with remainder 1

In [15]:
#We can also do some neat stuff with print and loops
for i in range(10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

But what about the other loop I mentioned, while loops? See the code below:

In [1]:
count = 0
while count < 25: # while True
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

The format of a while loop is as follows, the term while + a conditional. Everything inside the while loop executes over and over until that conditional is no longer True. Then the loop stops. In fact, if you type the statement While True:.... the loop will go on forever (don't do this until you’re a bit more experienced). So the code above starts with count being 0. Then i initiates the while loop that executes if count is less than 25. Then I print count inside the loop, and then I add 1 to count at the end of the loop. Once I've added 1 to count 24 times, count < 25 is no longer True, so the loop breaks. 

So in summary, loops allow us do to programming operations many times with a short amount of writing. For loops are great for when you know how many times you want to loop (i.e, the range). While loops are great when you know, what stopping conditional you want, but not necessarily how many loop iterations it will require getting to. 

Next section will be on Data Structures (how you store data in python), and when we combine general python programming, loops, and data structures we can start to build powerful tools and programs.

# Data Structures

Data structures (in any programming language) are objects that hold data. The two most used data structures in python are Lists and Dictionaries, which is what we will go over today.  

The basic structure of a list is as followed:

In [5]:
my_list = [1,2,3,'four']
my_list
#can have two types in one list (R would coerce to string)

[1, 2, 3, 'four']

The list is built with brackets, and it can have any data type/ structure stored in it. You can have floats, ints, strings, and lists and dictionaries stored inside lists. In the cell below, enter print(type(my_list)):

In [6]:
print(type(my_list))

<class 'list'>

To see its contents, type print(my_list)

In [7]:
print(my_list)

[1, 2, 3, 'four']

The contents of lists are stored in indexes, you can access them as follows:

In [12]:
print(my_list[0],type(my_list[0]))
print(my_list[1],type(my_list[1]))
print(my_list[2],type(my_list[2]))
print(my_list[3],type(my_list[3]))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
four <class 'str'>

In [10]:
len('this_string')

11

Above you can see the contents of the list at each index and the data type of each value at that index. Is there a way we can do this in less lines of code? See below:

In [11]:
for i in range(len(my_list)): #len function gives you the length of the list
    print(my_list[i],type(my_list[i]))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
four <class 'str'>

Can you write out, in plain words, exactly what is happening in the code? Write it out below

Now that we've learned the basics of lists, loops and conditional statements, we can combine the three:

In [13]:
for i in range(len(my_list)):
    if type(my_list[i]) == str:
        print('THIS IS A STRING')
    if type(my_list[i]) == int:
        if my_list[i]%2:
            print("THIS IS ODD")
        else:
            print("This IS EVEN")

THIS IS ODD
This IS EVEN
THIS IS ODD
THIS IS A STRING

The code above is more complex than what we have gone on before, but I want you to imagine a situation. Say my_list is storing some important data that you need to process - if the number is odd or even, or if it is a string. So, you loop through the entire list (using our new-found length command) and then use conditional statements to give us the data processing we need. 

Next let’s do some exploring of lists built in features. Python's website lists all of the lists built in functionality: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists. The format for using this functionality is as follows:
    my_list.function(item) 

where the item could be any data type, with some functions having some limited to certain inputs (for example, extend you have to input a list of items, even if it’s only 1 item ( [item1]))

Here is the list we will use for the task below:

In [42]:
ravenclaws = ['Cho', 'Luna', 'Marcus', 'Anthony', 'Padma', 'Terry', 'Duncan', 'Latisha']

Now use the following functions on the list below:

use .append(item) to add item to a list:

In [35]:
ravenclaws.append(1)
ravenclaws
#adds 1 to the end of the list

['Cho', 'Luna', 'Marcus', 'Anthony', 'Padma', 'Terry', 'Duncan', 'Latisha', 1]

use .extend([item1, item2]) to join another list to the end of the list

In [20]:
ravenclaws.extend('sarah')
ravenclaws
#extend is looking for more than one

['Cho',
 'Luna',
 'Marcus',
 'Anthony',
 'Padma',
 'Terry',
 'Duncan',
 'Latisha',
 1,
 1,
 1,
 's',
 'a',
 'r',
 'a',
 'h',
 's',
 'a',
 'r',
 'a',
 'h',
 's',
 'a',
 'r',
 'a',
 'h']

In [36]:
ravenclaws.extend(['sarah', 'travis'])
ravenclaws

['Cho',
 'Luna',
 'Marcus',
 'Anthony',
 'Padma',
 'Terry',
 'Duncan',
 'Latisha',
 1,
 'sarah',
 'travis']

use .insert(index, item) to add an item to a list at an index

In [37]:
ravenclaws.insert(5, 'Izma')
ravenclaws

['Cho',
 'Luna',
 'Marcus',
 'Anthony',
 'Padma',
 'Izma',
 'Terry',
 'Duncan',
 'Latisha',
 1,
 'sarah',
 'travis']

use .remove(item) to remove an item from a list

In [39]:
ravenclaws.remove('sarah')
ravenclaws

['Cho',
 'Luna',
 'Marcus',
 'Anthony',
 'Padma',
 'Izma',
 'Terry',
 'Duncan',
 'Latisha',
 1,
 'travis']

use .sort() to sort a list

In [43]:
#ascending is default
ravenclaws.sort()
ravenclaws
ravenclaws.sort(reverse = True)
ravenclaws

['Terry', 'Padma', 'Marcus', 'Luna', 'Latisha', 'Duncan', 'Cho', 'Anthony']

use .count(item) to count the number of times an item appears in a list

In [45]:
ravenclaws.count('cho')

0

use .index(item) to find the index of an element in a list

In [44]:
ravenclaws.index('Cho')

6

use .pop() to extract (and remove) the last element of a list

In [49]:
ravenclaws.pop()
ravenclaws

['Terry', 'Padma', 'Marcus', 'Luna', 'Latisha']

use .reverse() to reverse a list

In [50]:
ravenclaws.reverse()
ravenclaws

['Latisha', 'Luna', 'Marcus', 'Padma', 'Terry']

Lets think of lists now in general - they store data by assigning them an index. This is an important
distinction, because Dictionaries are formed with key value pairs, see below:

In [54]:
my_dictionary = { 'Kobe Bryant': 24 , 
                 'Michael Jordan': 23, 
                 'Tim Duncan': 21}

if my_dictionary, was a list, we would access Kobe bryant's number by my_dictionary[0]. However, Dictionaries are placed with key ('Kobe Bryant) and value (24) pairs. Key's can be any data type (number, string) and values can be anything (string,number,data structure).  The dictionary is denoted with curly brackets, and to set a key value pair, you do {my_key:my_value}. To access a value a dictionary:

In [56]:
print(my_dictionary['Tim Duncan'])

21

An analgous real life data structure is a "phone book", where the key is the person/buisness name, and the value is their phone number. Also, Facebook keeps all your data in dictionary like structures (JSONs). Same with other social media / internet companies. 

It's important to reiterate, because dictionaries store keys and values (not indexes), the values in the dictionary are not considered sorted. 

Lets see what happens when we loop through the dictionary:

In [57]:
for key in my_dictionary:
    print(key,":",my_dictionary[key])

Kobe Bryant : 24
Michael Jordan : 23
Tim Duncan : 21

As you can see, the variable key, becomes a key in my_dictionary and loops through all the keys. Pretty neat!

You can also add to dictionaries dynamically by adding a new key value pair (unlike a list where you have to append), see below:

In [58]:
print("Before I add the player: ", my_dictionary)
my_dictionary["Lonzo Ball"] = 2
print("With the new player:", my_dictionary)

Before I add the player:  {'Kobe Bryant': 24, 'Michael Jordan': 23, 'Tim Duncan': 21}
With the new player: {'Kobe Bryant': 24, 'Michael Jordan': 23, 'Tim Duncan': 21, 'Lonzo Ball': 2}

Now lets imagine I have two lists of data that I imported from a text file. One list contains names of players, the next list has the player number. I can loop through both those lists and dynamically put them into a dictionary as follows:

In [59]:
player_names = ['Kobe_Bryant','Michael Jordan','Tim Duncan','Lonzo Ball']
player_numbers = ['24','23','21','2']
player_dictionary = {} #Here I have made an empty dictionary
for name,number in zip(player_names,player_numbers):
    #here I zip together the two lists using the zip function (you can google it if you are curious)
    #the variable name takes on a data point in player_names and the variable number takes on a data point
    #in player_numbers
    player_dictionary[name] = number # here i fill the dictionary with the key value pair
print(player_dictionary)

{'Kobe_Bryant': '24', 'Michael Jordan': '23', 'Tim Duncan': '21', 'Lonzo Ball': '2'}

Now that we know the basics of dictionaries in python, we can go to python's website again and look at other functionalities of dictionaries: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

Do the following below the the zards dictionary: (Notice that each value is a list and not a single value)

In [66]:
zards = {'Ginny Weasley' : ['Human', 0, 1999],
    'Hermione Granger' : ['Human', 0, 1999],
    'Sirius Black' : ['Human', 1, 1978],
    'Bellatrix Lestrange' : ['Human', 0, 1969],
    'Ron Weasley' : ['Human', 1, None],
    'Rubeus Hagrid' : ['Half-Giant', 1, None],
    'Albus Dumbledore' : ['Human', 1, 1858],
    'Tom Riddle' : ['Human', 1, 1945]}
print(zards)

{'Ginny Weasley': ['Human', 0, 1999], 'Hermione Granger': ['Human', 0, 1999], 'Sirius Black': ['Human', 1, 1978], 'Bellatrix Lestrange': ['Human', 0, 1969], 'Ron Weasley': ['Human', 1, None], 'Rubeus Hagrid': ['Half-Giant', 1, None], 'Albus Dumbledore': ['Human', 1, 1858], 'Tom Riddle': ['Human', 1, 1945]}

use .pop(key) to remove a key:value pair from the dictionary and return the value

In [62]:
zards

{'Ginny Weasley': ['Human', 0, 1999],
 'Hermione Granger': ['Human', 0, 1999],
 'Sirius Black': ['Human', 1, 1978],
 'Bellatrix Lestrange': ['Human', 0, 1969],
 'Ron Weasley': ['Human', 1, None],
 'Rubeus Hagrid': ['Half-Giant', 1, None],
 'Albus Dumbledore': ['Human', 1, 1858],
 'Tom Riddle': ['Human', 1, 1945]}

In [67]:
zards.pop('Sirius Black')
zards

{'Ginny Weasley': ['Human', 0, 1999],
 'Hermione Granger': ['Human', 0, 1999],
 'Bellatrix Lestrange': ['Human', 0, 1969],
 'Ron Weasley': ['Human', 1, None],
 'Rubeus Hagrid': ['Half-Giant', 1, None],
 'Albus Dumbledore': ['Human', 1, 1858],
 'Tom Riddle': ['Human', 1, 1945]}

use .get(key) to get the value for a key

In [69]:
zards.get('Ginny Weasley')

['Human', 0, 1999]

use .keys() to get a list of the keys in the dictionary

In [70]:
zards.keys()

dict_keys(['Ginny Weasley', 'Hermione Granger', 'Bellatrix Lestrange', 'Ron Weasley', 'Rubeus Hagrid', 'Albus Dumbledore', 'Tom Riddle'])

use .items() to get a list of the key:value pairs in the dictionary

In [71]:
zards.items()

dict_items([('Ginny Weasley', ['Human', 0, 1999]), ('Hermione Granger', ['Human', 0, 1999]), ('Bellatrix Lestrange', ['Human', 0, 1969]), ('Ron Weasley', ['Human', 1, None]), ('Rubeus Hagrid', ['Half-Giant', 1, None]), ('Albus Dumbledore', ['Human', 1, 1858]), ('Tom Riddle', ['Human', 1, 1945])])

 use .update(other_dictionary) to merge a 2nd dictionary into the current dictionary

In [72]:
zards.update(my_dictionary)

In [73]:
zards

{'Ginny Weasley': ['Human', 0, 1999],
 'Hermione Granger': ['Human', 0, 1999],
 'Bellatrix Lestrange': ['Human', 0, 1969],
 'Ron Weasley': ['Human', 1, None],
 'Rubeus Hagrid': ['Half-Giant', 1, None],
 'Albus Dumbledore': ['Human', 1, 1858],
 'Tom Riddle': ['Human', 1, 1945],
 'Kobe Bryant': 24,
 'Michael Jordan': 23,
 'Tim Duncan': 21,
 'Lonzo Ball': 2}

use .clear() to remove all key:value pairs from the dictionary

In [74]:
zards.clear()
zards

{}

There are other data structures in python, such as sets and tuples. Explore them if you have more time, otherwise we will go on to build functions in the next notebook